// @import 'reset';

$Blue: hsl(246, 80%, 60%); //profile
$Lightorange: hsl(15, 100%, 70%); //work
$Softblue: hsl(195, 74%, 62%); //play
$Lightred: hsl(348, 100%, 68%); //study
$Limegreen: hsl(145, 58%, 55%); //exercise
$Violet: hsl(264, 64%, 52%); //social
$Softyellow: hsl(43, 84%, 65%); //self care

$Verydarkblue: hsl(226, 43%, 10%);
$Darkblue: hsl(235, 46%, 20%);
$Desaturatedblue: hsl(235, 45%, 61%);
$PaleBlue: hsl(236, 100%, 87%);

.p {
  margin: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: $Verydarkblue;
  font-family: rubik;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
  color: white;

  &__profile {
    position: relative;
    display: inline-block;
    grid-area: 1 / 1/ 3/ 2;
    background: $Darkblue;
    border-radius: 8px;
    img {
      height: 3em;
      border: 2px solid white;
      border-radius: 5rem;
    }
  }
  &__profilebanner {
    height: 15em;
    border-radius: 10px;
    background-color: $Blue;
    padding: 0.5rem 1.5rem;
  }
  &__work {
    position: relative;
    display: inline-block;
    grid-area: 1 / 2/ 2/ 3;
  }
  &__workbanner {
    border-radius: 10px;
    background-color: $Lightorange;
    padding-top: 2rem;
    background-image: url("./images/icon-work.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -5%;
    background-size: 3rem;
  }
  &__play {
    position: relative;
    display: inline-block;
    grid-area: 1 / 3/ 2/ 4;
  }
  &__playbanner {
    border-radius: 10px;
    background-color: $Softblue;
    padding-top: 2rem;
    background-image: url("./images/icon-play.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -5%;
    background-size: 3rem;
  }
  &__study {
    position: relative;
    display: inline-block;
    grid-area: 1 / 4/ 2/ 5;
  }
  &__studybanner {
    border-radius: 10px;
    background: $Lightred;
    padding-top: 2rem;
    background-image: url("./images/icon-study.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -5%;
    background-size: 3rem;
  }
  &__exercisebanner {
    border-radius: 10px;
    background: $Limegreen;
    padding-top: 2rem;
    background-image: url("./images/icon-exercise.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -5%;
    background-size: 3rem;
  }
  &__socialbanner {
    border-radius: 10px;
    background: $Violet;
    padding-top: 2rem;
    background-image: url("./images/icon-social.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -5%;
    background-size: 3rem;
  }
  &__selfcarebanner {
    border-radius: 10px;
    background: $Softyellow;
    padding-top: 2rem;
    background-image: url("./images/icon-self-care.svg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: -5%;
    background-size: 3rem;
  }
  &__description {
    background: $Darkblue;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    // display: flex;
    // flex-direction: column;
    // gap: .5rem;

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
